node_modules/
dist/
src-tauri/target/
src-tauri/resources/*.exe
native/out/
release/
*.key
*.key.pub
*.pem
*.pfx
.env*
*.log
*.png
!src-tauri/icons/*.png
/src-tauri/gen/
/src-tauri/icons/android/
/src-tauri/icons/ios/
/src-tauri/icons/icon.icns
